PORT=4000
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=tu_password
PGDATABASE=expedientes
JWT_SECRET=super_clave_secreta
JWT_EXPIRES_IN=24h
GROQ_API_KEY=tu_clave_groq
GROQ_MODEL=llama-3.1-8b-instant
