# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node modules
node_modules/
db_vieja/

# dotenv env files
.env

# Coverage
coverage/

# Build outputs
dist/
build/

# OS / editor files
.DS_Store
Thumbs.db

